@model List<EyeRecognizer.Model.FolderViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">EyeRecognizer</h1>


        @*@foreach (var f in Model)
            {
                @if (f.Name.Contains(".jpg"))
                {
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                           data-caption="Photo info: <br/> Directory @f.Metadata.Directory </br/> Name: @f.Metadata.Name </br/> Phase: @f.Metadata.Phase  </br/> Side @f.Metadata.Side <br/> Size @f.Metadata.Size "
                           data-image="/Photo/GetContent?path=@f.ShortPath" data-target="#image-gallery">
                            <img class="img-responsive" src="/Photo/GetContent?path=@f.ShortPath" alt="Another alt text">
                        </a>
                    </div>
                }
                else
                {

                    <a href="/Photo/DisplayList?path=@f.ShortPath">@f.Name</a>
                }
            }*@

        <div data-bind="foreach: viewModel.items">
            <div data-bind="if: isFolder">
                <a data-bind="attr : { href :  '/Photo/DisplayList?path=' + shortPath() }, text: shortPath"></a>
            </div>
            <div data-bind="ifnot: isFolder">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-bind="attr: { 'data-image': '/Photo/GetContent?path=' + shortPath(),
                                          'data-caption' : $index,
                                          'data-title' : name()}"
                       data-target="#image-gallery">


                        <img class="img-responsive" data-bind="attr : { src: '/Photo/GetContent?path=' + shortPath()}" alt="Another alt text">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
            <div class="modal-footer">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                </div>
                <div class="col-md-8 text-justify" id="image-gallery-caption">
                    <div class="form-horizontal">
                        <label for="phase" class="control-label">Faza</label>
                        <input id="phase" class="form-control" data-bind="value: viewModel.currentPhoto().phase" />

                        <label for="phase" class="control-label">Strona</label>
                        <input id="phase" class="form-control" data-bind="value: viewModel.currentPhoto().side" />

                        <label for="size" class="control-label">Rozmiar</label>
                        <input id="size" class="form-control" data-bind="value: viewModel.currentPhoto().size" disabled/>

                        <label for="name" class="control-label">Nazwa</label>
                        <input id="name" class="form-control" data-bind="value: viewModel.currentPhoto().name" disabled/>

                        <label for="directory" class="control-label">Folder</label>
                        <input id="directory" class="form-control" data-bind="value: viewModel.currentPhoto().directory" disabled />
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" id="show-next-image" class="btn btn-default">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/html" id="metadata">
        <div class="form-horizontal">
            <label for="phase" class="control-label">Faza</label>
            <input id="phase" class="form-control" data-bind="value: phase" />
        </div>
    </script>

    <script type="text/javascript">
        var photoIndex = 0;
        var viewModel = {
            items: ko.mapping.fromJS(@Json.Serialize(Model)),
            currentPhoto: ko.observable()
        };

        viewModel.currentPhoto(viewModel.items()[photoIndex].metadata);
        ko.applyBindings(viewModel);
        //ko.applyBindings(currentModal);

    </script>

    <script type="text/javascript">

        $(document).ready(function(){
            loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current){
        $('#show-previous-image, #show-next-image').show();
        if(counter_max == counter_current){
            $('#show-next-image').hide();
        } else if (counter_current == 1){
            $('#show-previous-image').hide();
        }
    }

     @*@param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     @param setClickAttr  Sets the attribute for the click handler.*@

        $(document).bind('keyup', function (e) {
            if (e.which == 39) {
                var nextButton = $('#show-next-image');
                if (nextButton.is(":visible"))
                    nextButton.click();
            }
            else if (e.which == 37) {
                var previousButton = $('#show-previous-image');
                if (previousButton.is(":visible"))
                    previousButton.click();
            }
        });

        var addHiddenDivToBody = function () {
            var div = document.createElement("div");
            //div.style.display = "none";
            document.body.appendChild(div);
            return div;
        };

    function loadGallery(setIDs, setClickAttr){
            var counter = 0;
            var current_image, selector;


        $('#show-next-image, #show-previous-image').click(function(){
            if($(this).attr('id') == 'show-previous-image'){
                current_image--;
            } else {
                current_image++;
            }

            selector = $('[data-image-id="' + current_image + '"]');
            updateGallery(selector);
        });

        function updateGallery(selector) {
            var $sel = selector;
            current_image = $sel.data('image-id');
            var vmIndex = $sel.data('caption');
            photoIndex = vmIndex;


            var metadata = viewModel.items()[vmIndex].metadata;
            //var temporaryDiv = addHiddenDivToBody();
            console.log(metadata);
            viewModel.currentPhoto(metadata);
            //viewModel.currentPhoto.valueHasMutated();
            //ko.renderTemplate('metadata', metadata, {}, temporaryDiv, 'replaceNode');


            //$('#image-gallery-caption').html(name);
            $('#image-gallery-title').text($sel.data('title'));
            $('#image-gallery-image').attr('src', $sel.data('image'));
            disableButtons(counter, $sel.data('image-id'));
        }

        if(setIDs == true){
            $('[data-image-id]').each(function(){
                counter++;
                $(this).attr('data-image-id',counter);
            });
        }
        $(setClickAttr).on('click',function(){
            updateGallery($(this));
        });
    }
});
    </script>
}